<%- include("template/header",{titulo:"Calidad y garantía"})%>
<%- include("template/nav-bar")%>

    <div class="container-quality">
        <div class="header-quality">
            <div class="title-quality">
                <img src="./Img/Quality-1.jpg" alt="">
                <h1>CALIDAD Y GARANTÍA</h1>
            </div>
            <p>En este apartado encontraras la forma con la que te garantizaremos el cumplimiento 
                efectivo de los servicios contratados, además de un apartado informativo sobre
                cuales son las condiciones laborales de nuestros trabajadores y la calidad de nuestros
                servicios representada en las metodologías profesionales. 
            </p>
        </div>
        <div class="cont-quality">
            <div class="tarjets-quality">
                <div class="tarjet-quality">
                    <h3>Nuestros clientes.</h3><i class="fas fa-briefcase"></i>
                    <p>Estamos totalmente seguros que un cliente satisfecho es un paso enorme para nuestra empresa,
                        por lo cual damos seguimiento a nuestros proyectos en curso, con el fin de garantizar 
                        el correcto proceso de nuestros servicios. Por ultimo cabe resaltar
                        que puedes usar estos canales de comunicación para presentar quejas o reclamos, es posible 
                        que podamos ayudarte. 
                    </p>
                </div>
                <div class="tarjet-quality">
                    <h3>Nuestro personal.</h3><i class="fas fa-hard-hat"></i>
                    <p>Todo empleado de Gariuz constructor es parte de nuestra familia empresarial, 
                        lo cual implica que tiene total libertad laboral, puedes trabajar junto a 
                        nosotros, ser asociado o simplemente ayudarnos a difundir nuestra empresa. 
                        Todo lo anterior recompensado en porcentajes salariales justos y en mejora,
                        si creces como trabajador, Gariuz constructor lo hará. Ve al siguiente apartado
                        si quieres <a href="/work"><b>trabajar con nosotros.</b></a>
                    </p>
                </div>
                <div class="tarjet-quality">
                    <h3>Nuestros proyectos.</h3><i class="fas fa-building"></i>
                    <p>Cada uno de nuestros proyectos esta pensado totalmente en el cliente, por 
                        lo que estaremos en constante contacto buscando que el resultado sea lo más 
                        cercano a lo que el cliente solicitó. El proyecto tendrá que pasar por una fase 
                        de negociación, planeación, ejecución y el seguimiento final, con el cual nos 
                        aseguraremos de que el cliente este satisfecho con el trabajo, de lo contrario 
                        ofreceremos una garantía de cumplimiento, ¡Por esto somos la mejor opción! 
                    </p>
                </div>
                <div class="tarjet-quality">
                    <h3>Imprevistos.</h3><i class="fas fa-list-alt"></i>
                    <p>Cabe mencionar que apesar del esfuerzo de nuestra empresa y nuestro 
                        personal por cumplir a cabalidad con los tiempos y costos pactados, 
                        siempre existen eventos o situaciones imprevistas dentro del 
                        transcurso del servicio. Situaciones como: problemas climáticos en 
                        trabajos exteriores, problemas internos no presupuestados o 
                        materiales adicionales para terminados del servicio, entre otros. 
                    </p>
                </div>
            </div>
        </div>
        <div class="ethics-container">
            <div class="ethics-title">
                <h1>Ética empresarial</h1>
                <p>Nuestra empresa se constituye a base de la armonia entre nuestros valores 
                    profesionales y la calidad de nuestro trabajo, para que esto sea posible
                    es necesaria la cohesión de nuestra ética empresarial y nuestro personal 
                    de trabajo. Por tanto, nuestros trabajadores y directivos tienen claro
                    el objetivo principal de nuestra organización, prestar un servicio de calidad
                    con estandares de trabajo totalmente nuevos, permitiendo así el cumplimiento 
                    real de factores como: el tiempo establecido de contrato, inexistencia de 
                    extracostos y personal preparado tanto profesionalmente como en atención al
                    cliente.</p>
            </div>
        </div>
        <div class="btn-home">
            <i class="fas fa-chevron-up"></i>
        </div>
    </div>

<%- include("contact-form") %>
<%- include("template/footer") %>
</body>
</html>