<%- include("template/header",{titulo:"Calidad y garantía"})%>
<%- include("template/nav-bar")%>

    <div class="container-quality">
        <div class="header-quality">
            <div class="title-quality">
                <img src="./Img/Quality-1.jpg" alt="">
                <h1>CALIDAD Y GARANTÍA</h1>
            </div>
            <p>En este apartado encontraras la forma con la que te garantizaremos el cumplimiento 
                efectivo de los servicios contratados, además de un apartado informativo sobre
                cuales son las condiciones laborales de nuestros trabajadores y la calidad de nuestros
                servicios representada en las metodologías profesionales. 
            </p>
        </div>
        <div class="cont-quality">
            <div class="tarjets-quality">
                <div class="tarjet-quality">
                    <h3>Nuestros clientes.</h3><i class="fas fa-briefcase"></i>
                    <p>Filtro de personal, ética, desempeño, seguimiento al cumplimiento del 
                        contrato, atención al cliente, quejas y reclamos, restitución.
                    </p>
                </div>
                <div class="tarjet-quality">
                    <h3>Nuestro personal.</h3><i class="fas fa-hard-hat"></i>
                    <p>Porcentajes superiores para el trabajador, posibilidad de independencia, 
                        emprendimiento, creación de una familia empresarial, atención al constructor. 
                    </p>
                </div>
                <div class="tarjet-quality">
                    <h3>Nuestros proyectos.</h3><i class="fas fa-building"></i>
                    <p>Mano de obra pulcra, experimentada, versatilidad, en el diseño postulado por el 
                        cliente, satisfacción, comodidad. 
                    </p>
                </div>
            </div>
        </div>
        <div class="ethics-container">
            <div class="ethics-title">
                <h1>Ética empresarial</h1>
                <p>Nuestra empresa se constituye a base de la armonia entre nuestros valores 
                    profesionales y la calidad de nuestro trabajo, para que esto sea posible
                    es necesaria la cohesión de nuestra ética empresarial y nuestro personal 
                    de trabajo. Por tanto, nuestros trabajadores y directivos tienen claro
                    el objetivo principal de nuestra organización, prestar un servicio de calidad
                    con estandares de trabajo totalmente nuevos, permitiendo así el cumplimiento 
                    real de factores como: el tiempo establecido de contrato, inexistencia de 
                    extracostos y personal preparado tanto profesionalmente como en atención al
                    cliente.</p>
            </div>
        </div>
        <div class="btn-home">
            <i class="fas fa-chevron-up"></i>
        </div>
    </div>

<%- include("contact-form") %>
<%- include("template/footer") %>
</body>
</html>