
    <div class="main-contact-container">
        <h1 class="contact-title">GAR<span>IUZ</span></h1> 

        <div class="contact-container">

            <div class="form-container">
                <form action="/send-email" method="POST">
                <p class="block-r">
                    <label>Nombre completo: </label>
                    <input type="text" name="name">
                </p>

                <p class="block-r">
                    <label>Email: </label>
                    <input type="email" name="email">
                </p>

                <p class="block-r">
                    <label>Numero celular: </label>
                    <input type="tel" name="phone" id="phone">
                </p>
                <p class="block-r">
                    <label>Servicio: </label>
                    <select class="select-box" name="service">
                        <option>Remodelación.</option>
                        <option>Asistencia.</option>
                        <option>Proyecto privado.</option>
                        <option>Proyecto público.</option>
                    </select>
                </p>

                <p class="block">
                    <label>Especificaciones: </label>
                    <textarea name="message" rows="3" name="message"></textarea>
                </p>
                <p class="block">
                </p>

                <p class="block">
                    <button type="submit"><b>ENVIAR</b></button>
                </p>
                </form>
                
            </div>

            <div class="info-container">
                <h4>Contactanos.</h4>
                <ul>
                    <li><i class="fas fa-map-marker-alt"></i> Cra. 18 B bis A 14 01</li>
                    <li><i class="fas fa-phone"></i> +57 319 2848073</li>
                    <li><i class="fas fa-envelope"></i>gariuzconstructor11@gmail.com</li>
                </ul>
                <div class="footer-t-r">
                    <a href="https://www.instagram.com/gariuzconstructor/"><img src="./Icons/003-instagram.png" alt=""></a>
                    <a href="https://wa.link/pldr6d"><img src="./Icons/004-whatsapp.png" alt=""></a>
                    <a href="https://www.facebook.com/Gariuzcons"><img src="./Icons/005-facebook.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>