<%- include("template/header",{titulo:"Historia"})%>
<%- include("template/nav-bar")%>

<div class="history-container">
    <div class="header-history">
        <div class="title-history">
            <img src="./Img/History-1.jpg" alt="">
            <h1>HISTORIA</h1>
        </div>
    </div>
        <div class="cont-history">

            <div class="tarjets-history">
                <div class="tarjet-history">
                    <h3>Fundamentación</h3>
                    <p>Nació de la motivación de crear nuevas alternativas laborales lejos de 
                        los paradigmas de la construcción en Colombia, esto de la mano de 
                        plataformas web creará una nueva experiencia en la prestación de multiples 
                        servicios basados en la construcción.</p>
                </div>

                <div class="tarjet-history">
                    <i class="fas fa-arrow-circle-down fa-firs"></i>
                </div>

                <div class="tarjet-history">
                    <h3>Creación</h3>
                    <p>Para la creación de Gariuz constructor se hizo necesaria una busqueda 
                        exahustiva de trabajadores de calidad, dispuestos a prestar un servicio 
                        basado en aptitudes profesionales en su labor. Por otro lado se implementaron
                        las primeras plataformas virtuales en pro de suplir las necesidades básicas
                        de todo cliente.</p>
                </div>
                
            </div>
        </div>
        <div class="btn-home">
            <i class="fas fa-chevron-up"></i>
        </div>
</div>

<%- include("contact-form") %>
<%- include("template/Footer") %>