<%- include("template/header",{titulo:"Historia"})%>
<%- include("template/nav-bar")%>

<div class="history-container">
    <div class="header-history">
        <div class="title-history">
            <img src="./Img/History-1.jpg" alt="">
            <h1>HISTORIA</h1>
        </div>
    </div>
        <div class="cont-history">

            <div class="tarjets-history">
                <div class="tarjet-history">
                    <h3>Fundamentación</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat magnam, 
                        optio soluta fugit ullam esse vel totam eveniet reiciendis nulla ducimus 
                        dicta enim, quas excepturi maiores voluptas ex, quisquam saepe.</p>
                </div>

                <div class="tarjet-history">
                    <i class="fas fa-arrow-circle-down fa-firs"></i>
                </div>

                <div class="tarjet-history">
                    <h3>Creación</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat magnam, 
                        optio soluta fugit ullam esse vel totam eveniet reiciendis nulla ducimus 
                        dicta enim, quas excepturi maiores voluptas ex, quisquam saepe.</p>
                </div>

                <div class="tarjet-history">
                    <i class="fas fa-arrow-circle-down fa-second"></i>
                </div>

                <div class="tarjet-history">
                    <h3>Presente</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat magnam, 
                        optio soluta fugit ullam esse vel totam eveniet reiciendis nulla ducimus 
                        dicta enim, quas excepturi maiores voluptas ex, quisquam saepe.</p>
                        <h1>20<span>21</span></h1>
                </div>
                
            </div>
        </div>
        <div class="btn-home">
            <i class="fas fa-chevron-up"></i>
        </div>
</div>

<%- include("contact-form") %>
<%- include("template/Footer") %>