<%- include("template/header",{titulo:"Servicios"})%>
<%- include("template/nav-bar")%>

    <div class="service-container">
        <div class="title-service">
            <div class="main-img">
                <img src="./Img/Service-img.jpg" alt="">
                <div class="text-img-service">
                    <h1>SERVICIOS</h1>
                    <h3>Podemos construir un proyecto a tu medida.</h3>
                </div>
            </div>
        </div>

        <div class="content-container">
            <div class="main-section">
                <div class="text-and-img">
                    <div class="t1 text-section">
                        <p><h1>Desde remodelaciones hasta proyectos privados.</h1>Nuestra prioridad es 
                        prestar servicios de alta calidad a toda persona que lo necesite,
                        por esta razón nos dedicamos a buscar trabajadores que cumplan tus necesidadades
                        a costos accesibles y en el tiempo que lo necesitas. Construimos, remodelamos,
                        y proyectamos un futuro para tí. </p>
                    </div>
                    <div class="t1">
                        <img src="./Img/Service-img1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="service-section">
                <div class="cont-section-service">
                    <div class="cont-service">

                        <div class="t2-cont">
                        <div class="t2 t2-text">
                            <h3>Remodelaciones.</h3>

                            <p>Cada espacio necesita un ambiente totalmente nuevo, un rediseño estético
                                que permita transmitir lo que quieres y necesitas en tu hogar
                                o negocio. Por esto Gariuz constructor maneja materiales de alta calidad y 
                                un personal preparado que estará dispuesto a cumplir cada uno de tus requerimientos.
                                Hacemos remodelaciones de interiores, exteriores y todo tipo de espacios.
                            </p>
                            
                        </div>
                        <div class="t2">
                            <img src="./Img/Tarjet-1.jpg" alt="">
                        </div>
                        </div>

                        <div class="t2-cont">
                        <div class="t2 t2-text">
                            <h3>Asistencias.</h3>

                            <p>¿Tienes problemas técnicos en tú hogar o negocio y no sabes a 
                                quién llamar? Nosotros te podemos asistir en todo tipo de 
                                dificultades relacionadas con circuitos eléctricos, plomería 
                                e instalación de mueblería. 
                            </p>

                        </div>
                        <div class="t2">
                            <img src="./Img/Tarjet-2.jpg" alt="">
                        </div>
                        </div>

                        <div class="t2-cont">
                        <div class="t2 t2-text">
                            <h3>Proyectos privados.</h3>

                            <p>Juntos podemos construir todo aquello que soñaste, eso sí, 
                                con los mejores estándares de construcción, teniendo en cuenta
                                factores como: la topografía del lugar, la estética y los costos. 
                                Nos adaptamos a tus posibilidades y necesidadades.<br><br>Estos son 
                                solo algunos de los ejemplos de lo que podemos construir para ti:
                                <br><br>
                                
                                    <li>Tu hogar: casas y apartamentos.</li>
                                    <li>Tu negocio: Locales modernos con diseños innovadores.</li>
                                    <li>Tu entretenimiendo: Espacios en los que viviras momentos memorables.</li>
                            </p>

                        </div>
                        <div class="t2">
                            <img src="./Img/Tarjet-3.jpg" alt="">
                        </div>
                        </div>

                        <div class="t2-cont">
                        <div class="t2 t2-text">
                            <h3>Espacios públicos.</h3>

                            <p>Hay espacios que son altamente transitados aunque hacen parte
                                tu predio, por esta razón dedicamos un apartado directamente
                                al diseño e implementación de espacios públicos pensando en 
                                crear la mejor experiencia para los transeúntes.<br><br>Estos 
                                son solo algunos de los ejemplos de lo que podemos construir 
                                para ti:<br><br>
                        
                                <li>Andenes.</li>
                                <li>Diseño de frentes.</li>
                                <li>Parqueaderos.</li>
                            </p>

                        </div>
                        <div class="t2">
                            <img src="./Img/Publico.jpg" alt="">
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        </div>
        <div class="btn-home">
            <i class="fas fa-chevron-up"></i>
        </div>
    </div>

<%- include("contact-form") %>
<%- include("template/footer") %>
</body>
</html>