<%- include("template/header",{titulo:"Servicios"})%>
<%- include("template/nav-bar")%>

    <div class="service-container">
        <div class="title-service">
            <div class="main-img">
                <img src="./Img/Service-img.jpg" alt="">
                <div class="text-img-service">
                    <h1>SERVICIOS</h1>
                    <h3>Podemos construir un proyecto a tu medida.</h3>
                </div>
            </div>
        </div>

        <div class="content-container">
            <div class="main-section">
                <div class="text-and-img">
                    <div class="t1 text-section">
                        <p><h1>Desde remodelaciones hasta proyectos privados.</h1>Nuestra prioridad es 
                        prestar servicios de alta calidad a toda persona que lo necesite,
                        por esta razón nos dedicamos a buscar trabajadores que cumplan tus necesidadades
                        a costos accesibles y en el tiempo que lo necesitas. Construimos, remodelamos,
                        y proyectamos un futuro para tí. </p>
                    </div>
                    <div class="t1">
                        <img src="./Img/Service-img1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="service-section">
                <div class="cont-section-service">
                    <div class="cont-service">

                        <div class="t2-cont">
                        <div class="t2 t2-text">
                            <h3>Remodelaciones.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Ab facere pariatur minus nesciunt eaque animi quasi earum 
                                asperiores, voluptates dignissimos!
                                <ul>
                                    <li>Lorem ipsum dolor sit amet.</li>
                                    <li>Lorem ipsum dolor sit amet.</li>
                                    <li>Lorem ipsum dolor sit amet.</li>
                                </ul>
                            </p>
                            
                        </div>
                        <div class="t2">
                            <img src="./Img/Tarjet-1.jpg" alt="">
                        </div>
                        </div>

                        <div class="t2-cont">
                        <div class="t2 t2-text">
                            <h3>Asistencias.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Ab facere pariatur minus nesciunt eaque animi quasi earum 
                                asperiores, voluptates dignissimos!
                            </p>
                        </div>
                        <div class="t2">
                            <img src="./Img/Tarjet-2.jpg" alt="">
                        </div>
                        </div>

                        <div class="t2-cont">
                        <div class="t2 t2-text">
                            <h3>Proyectos privados.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Ab facere pariatur minus nesciunt eaque animi quasi earum 
                                asperiores, voluptates dignissimos!
                                <ul>
                                    <li>Lorem ipsum dolor sit amet.</li>
                                    <li>Lorem ipsum dolor sit amet.</li>
                                    <li>Lorem ipsum dolor sit amet.</li>
                                </ul>
                            </p>
                        </div>
                        <div class="t2">
                            <img src="./Img/Tarjet-3.jpg" alt="">
                        </div>
                        </div>

                        <div class="t2-cont">
                        <div class="t2 t2-text">
                            <h3>Proyectos publicos.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Ab facere pariatur minus nesciunt eaque animi quasi earum 
                                asperiores, voluptates dignissimos!
                            </p>
                        </div>
                        <div class="t2">
                            <img src="./Img/Tarjet-4.jpg" alt="">
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        </div>
        <div class="btn-home">
            <i class="fas fa-chevron-up"></i>
        </div>
    </div>

<%- include("contact-form") %>
<%- include("template/footer") %>
</body>
</html>