<%- include("template/header",{titulo:"¿Quienes somos?"})%>

<%- include("template/nav-bar")%>

    <div class="are-container">
        <div class="we-are-container">
            <div class="header">
                <div class="h1">
                    <img src="./Img/Somos1.jpeg" alt="">
                </div>
                <div class="h1">
                <h1>GAR<span>IUZ</span> CONSTRUCTOR</h1>
                <p>Gariuz constructor es una empresa constituida en su mayoria por personal joven que busca
                    romper los esquemas de construcción en Colombia, cumpliendo sus estandares de tiempo, 
                    costos y ética profesional. Puedes contactarnos para cualquier tipo de trabajo y nosotros
                    enviaremos personal capacitado, asegurandonos de que cumpla con los estandares acordados
                    durante el proceso de negociación.<br><br>Actualmente contamos con cobertura en Bogotá
                    - Colombia, buscando crecer de tal forma que podamos llevar nuestros servicios a todo
                    el país. Así que si necesitas un despliegue laboral de baja y mediana escala en un entorno
                    amigable y profesional, ¡Contactanos!</p>
                    <div class="footer-contact">
                        <div class="footer-t-r we-contact">
                            <a href="https://www.facebook.com/Gariuzcons"><i class="fab fa-facebook"></i></a>
                        </div> 
                        <div class="footer-t-r we-contact">
                            <a href="https://wa.link/pk84yo"><i class="fab fa-whatsapp"></i></a>
                        </div>
                        <div class="footer-t-r we-contact">
                            <a href="https://www.instagram.com/gariuzconstructor/"><i class="fab fa-instagram"></i></a> 
                        </div>
                    </div> 
                </div>
            </div>
            
            <div class="mis-vis">
                <div class="s1-tarjet">
                    <i class="fas fa-map"></i><h3>Misión.</h3>
                    <p>Buscamos sustituir los estereotipos actuales sobre el constructor y su 
                        profesión por medio de un servicio eficiente y de calidad. Labor que 
                        implica facilitar al usuario la petición de servicios con el uso de 
                        plataformas virtuales frescas e interactivas. 
                    </p>
                </div>

                <div class="s1-tarjet">
                   <i class="fas fa-bullseye"></i><h3>Visión.</h3>
                    <p>Gariuz constructor será una empresa consolidada y reconocida por la 
                        introducción de las tecnologías en el mundo de la construcción, 
                        permitiendo un servicio accesible para todo tipo de público, sostenido
                        a base de una red laboral que impulsará el empleo en Colombia. 
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-home">
        <i class="fas fa-chevron-up"></i>
    </div>
<%- include("contact-form") %>
<%- include("template/footer") %>
</body>
</html>