<%- include("template/header",{titulo:"¿Quienes somos?"})%>

<%- include("template/nav-bar")%>

    <div class="are-container">
        <div class="we-are-container">
            <div class="header">
                <div class="h1">
                    <img src="./Img/Somos1.jpeg" alt="">
                </div>
                <div class="h1">
                <h1>GAR<span>IUZ</span> CONSTRUCTOR</h1>
                <p>Gariuz constructor es una empresa constituida en su mayoria por personal joven que busca
                    romper los esquemas de construcción en Colombia, cumpliendo sus estandares de tiempo, 
                    costos y ética profesional. Puedes contactarnos para cualquier tipo de trabajo y nosotros
                    enviaremos personal capacitado, asegurandonos de que cumpla con los estandares acordados
                    durante el proceso de negociación.<br><br>Actualmente contamos con cobertura en Bogotá
                    - Colombia, buscando crecer de tal forma que podamos llevar nuestros servicios a todo
                    el país. Así que si necesitas un despliegue laboral de baja y mediana escala en un entorno
                    amigable y profesional, ¡Contactanos!</p>
                </div>
            </div>
            <div class="mis-vis">
                <div class="s1-tarjet">
                    <i class="fas fa-map"></i><h3>Misión.</h3>
                    <p>Anhelamos prestar servicios de alta calidad y honestidad con el fin de sustituir
                        los estereotipos actuales sobre el constructor y su profesión. 
                    </p>
                </div>

                <div class="s1-tarjet">
                   <i class="fas fa-bullseye"></i><h3>Visión.</h3>
                    <p>Ser reconocidos por nuestra alta calidad y desempeño en el ámbito laboral.
                        Aplicación web, servicios accesibles, oportunidades de trabajo, emprendimiento,
                        ética y asociación por parte de nuestros contratistas. 
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-home">
        <i class="fas fa-chevron-up"></i>
    </div>
<%- include("contact-form") %>
<%- include("template/footer") %>
</body>
</html>