<%- include("template/header",{titulo:"¿Quienes somos?"})%>

<%- include("template/nav-bar")%>

    <div class="are-container">
        <div class="we-are-container">
            <div class="header">
                <div class="h1">
                    <img src="./Img/Somos1.jpeg" alt="">
                </div>
                <div class="h1">
                <h1>GAR<span>IUZ</span> CONSTRUCTOR</h1>
                <p>Gariuz constructor es una empresa constituida en su mayoria por personal joven que busca
                    romper los esquemas de construcción en Colombia, cumpliendo sus estandares de tiempo, 
                    costos y ética profesional. Puedes contactarnos para cualquier tipo de trabajo y nosotros
                    enviaremos personal capacitado, asegurandonos de que cumpla con los estandares acordados
                    durante el proceso de negociación.<br><br>Actualmente contamos con cobertura en Bogotá
                    - Colombia, buscando crecer de tal forma que podamos llevar nuestros servicios a todo
                    el país. Así que si necesitas un despliegue laboral de baja y mediana escala en un entorno
                    amigable y profesional, ¡Contactanos!</p>
                </div>
            </div>
            <div class="mis-vis">
                <div class="s1-tarjet">
                    <i class="fas fa-map"></i><h3>Misión.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam odio delectus dolor illo qui saepe explicabo eum. In assumenda animi qui. Tempora, non quod ipsam consequatur et aspernatur ad eum.
                    Cupiditate aspernatur sint provident fugit rerum repudiandae quibusdam tempore explicabo, culpa sed nemo perferendis recusandae nisi dolorem hic doloribus autem quam veritatis sit eveniet excepturi animi iusto voluptate. Sit, nisi!</p>
                </div>

                <div class="s1-tarjet">
                   <i class="fas fa-bullseye"></i><h3>Visión.</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et maiores libero, quasi asperiores facilis nulla dolor aspernatur totam officia, consequuntur accusamus. Cum quisquam ipsum earum beatae cumque ipsam asperiores dolor.
                    Ipsa ad eveniet, saepe dolor corporis quae rem officia? Similique, sit delectus eius quo cupiditate error itaque ipsam exercitationem repellendus mollitia nemo, quibusdam repellat dicta voluptatum earum. Minus, fugit dolorem.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-home">
        <i class="fas fa-chevron-up"></i>
    </div>
<%- include("contact-form") %>
<%- include("template/footer") %>
</body>
</html>