<%- include("template/header",{titulo:"Trabaja con nosotros"})%>
<%- include("template/nav-bar")%>

<body>
    <div class="main-work-container">
        <h1 class="work-title">Trabaja junto a Gar<span>iuz</span> constructor</h1> 
            <div class="work-container">
                <form action="/work-email" method="POST">
                <p class="block-r">
                    <label>Nombre completo: </label>
                    <input type="text" name="name">
                </p>

                <p class="block-r">
                    <label>E-mail: </label>
                    <input type="email" name="email">
                </p>

                <p class="block-r">
                    <label>Número celular: </label>
                    <input type="tel" name="phone" id="phone">
                </p>

                <p class="block-r">
                    <label>Número telefónico: </label>
                    <input type="tel" name="tel" id="tel">
                </p>

                <p class="block-r">
                    <label>¿Como quieres trabajar con nosotros?: </label>
                    <select class="work-box" name="work">
                        <option>Constructor</option>
                        <option>Asociado</option>
                        <option>Contratista</option>
                    </select>
                </p>

                <p class="block-r">
                    <label>Ciudad de residencia: </label>
                    <input type="text" name="city">
                </p>

                <p class="block">
                    <label>Experiencia y rol: </label>
                    <textarea name="message" rows="3"></textarea>
                </p>

                <p class="block">
                    <label>Envianos tu hoja de vida al correo: <span>gariuzconstructor11@gmail.com</span> con tu nombre completo y cargo al que aspiras</label>
                </p>

                <p class="block">
                    <button type="submit"><b>ENVIAR</b></button>
                </p>
                </form>
                
            </div>
    </div>
    <div class="btn-home btn-home-work">
        <i class="fas fa-chevron-up"></i>
    </div>
    <%- include("template/footer") %>
</body>
</html>