*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    color: #112934;
    font-family: 'Quicksand', sans-serif;
}
.container{
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
/*Contenedores de texto*/
.texts-container{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}
.line{
    border-top: 2px solid #11293448;
    width: 100%;
    margin: 50px 0;
    text-align: center;
}
/*Firs container*/
.home-text{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: justify;
    width: 100%;
    align-items: center;
}
.home-text img{
    width: 14%;
    height: auto;
}
.text-content{
    width: 60%;
}
.text-content .title{
    font-family: 'Dela Gothic One', cursive;
    font-size: 30px;
    font-weight: 300;
    color: #295276;
}
.construimos h1{
    color:#b7490e;
}
/*Second container*/
    /*Tarjetas*/
.tarjets{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 15px;
    margin-bottom: 40px;
}
.tarjet{
    display: flex;
    width: 20%;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 20px;
}
.tarjet img{
    width:70%;
    opacity: 0.8;
}
.tarjet img:hover{
    opacity: 1;
    transition: 1s;
}
/*Button tarjet*/
.tarjet-btn{
    margin-top: 10px;
    position: relative;
}
.tarjet-btn a{
    padding: 5px;
    background-color: #112934;
    color: #fdf6e6;
    width: 30px;
    box-shadow: 0 5px 10px 0 rgba(11, 21, 26, 0.5);
}
.tarjet-btn a:hover{
    background-color:#295276;
    transition: .5s;
}
/*Footer*/
.footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    background: #112934;
    color: #fdf6e6;
    box-shadow: 0 0 20px 0 rgba(253, 246, 230, 0.2);
}
.footer-tarjet{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    width: 33%;
    padding: 10px;
}
.footer-tarjet p{
    font-size: 10px;
}
.footer-contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.footer-t-r{
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    text-align: center;
}
.footer-t-r i{
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    margin-left: 20px;
    color: #fdf6e6;
}
.footer-t-r i:hover{
    color: #295276;
    transition: .3s;
}
.footer-t-c{
    width: 100%;
    text-align: center;
}
.footer-t-l{
    width: 100%;
    text-align: center;
}
.btn-home{
    display: none;
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 1;
}
.btn-home i{
    display: block;
    text-decoration: none;
    background-color: #112934;
    color: #fdf6e6;
    width: 45px;
    height: 45px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    font-size: 22px;
    box-shadow: 0 0 10px 0 rgba(253, 246, 230, 0.3);
    cursor: pointer;
}
.btn-home i:hover{
    background-color:#fdf6e6;
    color: rgb(17, 41, 52);
    box-shadow: 0 0 15px 0 rgba(17, 41, 52, 0.3);
    transition: .6s;
}

/*RESPONSIVE DESIGN*/

@media screen and (max-width: 800px){
    .tarjet{
        width: 40%;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 500px){
    /*Main container text*/
    .texts-container{
        width: 92%;
    }
    .texts-container h1{
        font-size: 25px;
    }
    /*Firs text and tarjet*/
    .text-content{
        width: 90%;
    }
    .home-text img{
        width: 40%;
    }
    .tarjet{
        width: 80%;
    }
    /*Footer*/
    .footer-container{
        justify-content: none;
        font-size: 12px;
    }
    .footer-tarjet{
        width: 32%;
    }
    .footer-tarjet p{
        font-size: 8px;
    }
    .footer-t-r{
        width: 100%;
    }
    .footer-t-l{
        width: 100%;
    }
}