/*Header*/
.title-history{
    position: relative;
    display: flex;
    max-width: 100%;
    max-height: 70vh;
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #112934;
}
.title-history img{
    width: 100%;
    max-height: 10%;
    opacity: .6;
}
.title-history h1{
    position: absolute;
    top: 10%;
    left: 5%;
    font-weight: 400;
    font-size: 60px;
    color: #ffffff;
}
/*Contents*/
.cont-history{
    width: 100%;
}
.tarjets-history{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}
.tarjet-history{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 20px 0;
    text-align: justify;
}
.tarjet-history h1{
    width: 100%;
    font-size: 35px;
    text-align: center;
    color: #1c5874;
    margin-top: 15px;
    font-size: 45px;
}
.tarjet-history span{
    color: rgb(146, 11, 7);
}
.tarjet-history h3{
    width: 100%;
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
}
.tarjet-history i{
    width: 100%;
    margin: 5px 0;
    font-size: 50px;
    text-align: center;
}
.fa-firs{
    color: #1c5874;
}
.fa-second{
    color: #b70e21;
}

/*RESPONSIVE DESIGN*/

@media screen and (max-width: 650px){
    .tarjet-history{
        width: 90%;
    }
}