<!--FOOTER-CONTAINER-->
<div class="footer-container">
    <div class="footer-tarjet">
            <div class="footer-t-l">
            <h5>Atención al cliente:</h5>
            <p>Bogotá: +57 319 2848073</p>
            </div>
    </div>   

    <div class="footer-tarjet">
            <div class="footer-t-c">
                <p>©Copyright 2021 Gariuz constructor.<br>Todos los derechos reservados.</p> 
            </div>
    </div> 

    <div class="footer-tarjet">
        <div class="footer-contact">
            <div class="footer-t-r">
                <a href="https://www.instagram.com/gariuzconstructor/"><i class="fab fa-facebook"></i></a>
            </div> 
            <div class="footer-t-r">
                <a href="https://wa.link/pk84yo"><i class="fab fa-whatsapp"></i></a>
            </div>
            <div class="footer-t-r">
                <a href="https://www.facebook.com/Gariuzcons"><i class="fab fa-instagram"></i></a> 
            </div>
        </div> 
    </div>  
</div>