<!--FOOTER-CONTAINER-->
<di v class="footer-container">
    <div class="footer-tarjet">
            <div class="footer-t-l">
            <h5>Atención al cliente:</h5>
            <p>Bogotá: +57 319 2848073</p>
            </div>
    </div>   

    <div class="footer-tarjet">
            <div class="footer-t-c">
                <p>©Copyright 2021 Gariuz constructor.<br>Todos los derechos reservados.</p> 
            </div>
    </div>   

    <div class="footer-tarjet">
            <div class="footer-t-r">
                <a href="https://www.instagram.com/gariuzconstructor/"><img src="./Icons/003-instagram.png" alt=""></a>
                <a href="https://wa.link/pldr6d"><img src="./Icons/004-whatsapp.png" alt=""></a>
                <a href="https://www.facebook.com/Gariuzcons"><img src="./Icons/005-facebook.png" alt=""></a>
            </div>
    </div>   
</div>