<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gariuz constructor - <%= titulo %></title>

    <!--Jquery-->
    <script src="https://code.jquery.com/jquery-latest.js"></script>

    <!--Styles-->
    <link rel="stylesheet" href="./css/Index.css">
        <!--Tipografía-->
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600&family=Merienda:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet">
        <!--Font awesome-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
        
        <!--CSS-->
            <!--Nav-bar styles-->
            <link rel="stylesheet" href="./css/Nav.css">
            <!--Slider galery styles-->
            <link rel="stylesheet" href="./css/Slider-galery.css">
            <!--Form-->
            <link rel="stylesheet" href="./css/Contact-form.css">
            <!--Service-->
            <link rel="stylesheet" href="./css/Add-css/Service.css">
            <!--We are-->
            <link rel="stylesheet" href="./css/Add-css/We-are.css">
            <!--Quality-->
            <link rel="stylesheet" href="./css/Add-css/Quality.css">
            <!--History-->
            <link rel="stylesheet" href="./css/Add-css/History.css">
</head>