<!--NAV-BAR-->
<body>
    <div class="container-nav">
        <nav class=nav-main>
            <a href="/"><img src="./Img/Logo-1.jpg" alt="" class="nav-img"></a>

            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>
            
            <ul class="nav-menu">
                <li>
                    <a class="nav-text" href="/"><b>Inicio</b></a>
                </li>
                <li>
                    <a class="nav-text" href="/servicios"><b>Servicios</b></a>
                </li>
                <li>
                    <a href="#"><b>Nosotros</b></a>
                    <ul class="text-des">
                        <li><a href="/Somos">¿Quienes somos?</a></li>
                        <li><a href="/Calidad-y-garantia">Calidad y garantía</a></li>
                        <li><a href="/Historia">Historia</a></li>
                    </ul>
                </li>
                <li>
                    <div class="nav-contact">
                        <a><label class="nav-text"><b>Contacto</b></label></a>
                    </div>
                </li>
                 <li>
                    <a class="nav-text" href="/work"><b>Trabaja con nosotros</b></a>
                </li>
            </ul>
        </nav>
    </div>

    <script src="./JS/nav-bar.js"></script>