<!--SLIDER GALERY-->

    <!--Contenedor Slider galery-->
    <div class="slide-container">
        <div class="mySlide fade">
            <img src="./Img/Galery-1.jpg" alt="">
        </div>
        <div class="mySlide fade">
            <img src="./Img/Galery-2.jpg" alt="">
        </div>
        <div class="mySlide fade">
            <img src="./Img/Galery-3.jpg" alt="">
        </div>
        <div class="mySlide fade">
            <img src="./Img/Galery-4.jpg" alt="">
        </div>
        <div class="mySlide fade">
            <img src="./Img/Galery-5.jpg" alt="">
        </div>
        <!--Flechas next/back-->
        <div class="directions">
            <a class="back" onclick="nextSlide(-1)">&#10094;</a>
            <a class="next" onclick="nextSlide(1)">&#10095;</a>
        </div>
        
        <div class="points">
            <span class="point active" onclick="positionSlide(1)"></span>
            <span class="point" onclick="positionSlide(2)"></span>
            <span class="point" onclick="positionSlide(3)"></span>
            <span class="point" onclick="positionSlide(4)"></span>
            <span class="point" onclick="positionSlide(5)"></span>
        </div>
    </div>

    <script src="./JS/Slider.js"></script>